<!-- ko if: ritePassed -->
<section data-bind="css: {masked: !ready()}">
    <form>
        <div class="field">
            <label for="name" class="required">Recipient name</label>
            <input data-bind="value: name" type="text" placeholder="Name" id="name" autocomplete="name">
        </div>

        <fieldset>
            <legend>Recipient address</legend>
            
            <div class="field">
                <label for="street-address" class="required">Street Address</label>
                <input data-bind="value: line1" type="text" placeholder="Line 1" id="street-address" autocomplete="address-line1">
            </div>
            
            <div class="field">
                <label for="street-address-optional">Line 2 of Street Address</label>
                <input data-bind="value: line2" type="text" placeholder="Line 2" id="street-address-optional" autocomplete="address-line2">
            </div>

            <div class="field">                
                <label for="city" class="required">City</label>
                <input data-bind="value: city" type="text" placeholder="City" id="city" autocomplete="address-level2">
            </div>

            <div class="field select" data-bind="css: {placeholder: !state()}">
                <label for="state" class="required">State</label>
                <select data-bind="options: stateCodes, optionsText: 'label', optionsValue: 'value', optionsCaption: 'State', value: state" autocomplete="address-level1"></select>
            </div>

            <div class="field">
                <label for="zip" class="required">Postal Code</label>
                <input data-bind="value: zip" type="text" placeholder="Postal Code" autocomplete="postal-code">                    
            </div>
        </fieldset>

        <div class="field">
            <label for="comments">Order comments</label>
            <textarea data-bind="value: comments" placeholder="Praise us" id="comments"></textarea>
        </div>

        <div id="paypal-button-container" data-bind="css: {disabled: !valid()}"></div>
    </form>
    <div class="print-preview" data-bind="if: vm.printScreenshot()">
        <img data-bind="attr: {src: vm.printScreenshot()}">
    </div>    
</section>
<!-- /ko -->
<!-- ko if: !ritePassed() -->
    <div class="rc">
        <p>Awaiting sacred rites...</p>
        <input data-bind="textInput: sacredRite">
    </div>
<!-- /ko -->
