<section>
    <h3>Orb Church Privacy Policy</h3>
    <p>This privacy policy will explain how our organization uses the personal data we collect from you when you use our website.</p>
    <p>Topics:</p>
    <ul>
        <li>What data do we collect?</li>
        <li>How do we collect your data?</li>
        <li>How will we use your data?</li>
        <li>How do we store your data?</li>
        <li>What are your data protection rights?</li>
        <li>Cookies</li>
        <li>Changes to our privacy policy</li>
        <li>How to contact us</li>
    </ul>
    
    <h3>What data do we collect?</h3>
    <p>Orb Church collects the following data:</p>
    <ul>
        <li>Orb Church does not automatically collect any Personal identification information (ie, Name, email address, phone number, etc.) with the exception of IP Address, which is logged to the server as soon as the entry form is loaded.</li>
        <li>When an order is completed, Orb Church manually collects the following data of the order's recipient:
            <ul>
                <li>Name</li>
                <li>Shipping Address (including shipping instructions if applicable)</li>
                <li>Time, Date, and Location of Birth</li>
            </ul>
        </li>
        <li>When an order is completed, Orb Church manually collects the following data of the user who places the order:
            <ul>
                <li>Name (as provided from Paypal order confirmation)</li>
                <li>Contact Email address</li>
                <li>Paypal Email Address (as provided from Paypal order confirmation)</li>
                <li>Paypal ID (as provided from Paypal order confirmation)</li>
                <li>Paypal Order ID (as provided from Paypal order confirmation)</li>
            </ul>
        </li>
    </ul>
    
    <h3>How do we collect your data?</h3>
    <p>You directly provide Orb Church with most of the data we collect. We collect data and process data when you:</p>
    <ul>
        <li>Place an order for any of our products or services.</li>
        <li>First load the website.</li>
    </ul>
    <p>Orb Church may also receive your data indirectly from the following sources:</p>
    <ul>
        <li><a href="https://statcounter.com/support/">Statcounter</a></li>
        <li><a href="https://paypal.com">Paypal</a></li>
    </ul>
    
    <h3>How will we use your data?</h3>
    <p>Orb Church collects your data so that we can:</p>
    <ul>
        <li>Process your order.</li>
        <li>Log web traffic.</li>
    </ul>
    
    <h3>How do we store your data?</h3>
    <p>Orb Church securely and anonymously stores your IP address on our web server where it is deleted after a period of 12 hours.</p>
    <p>Orb Church will keep all other personal data for no longer than a month. Once this time period has expired, we will manually delete your data from our secure server.</p>
    
    <h3>What are your data protection rights?</h3>
    <p>Orb Church would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
    <p><strong>The right to access</strong> – You have the right to request Orb Church for copies of your personal data.</p>
    <p><strong>The right to rectification</strong> – You have the right to request that Orb Church correct any information you believe is inaccurate. You also have the right to request Orb Church to complete the information you believe is incomplete.</p>
    <p><strong>The right to erasure</strong> – You have the right to request that Orb Church erase your personal data, under certain conditions.</p>
    <p><strong>The right to restrict processing</strong> – You have the right to request that Orb Church restrict the processing of your personal data, under certain conditions.</p>
    <p><strong>The right to object to processing</strong> – You have the right to object to Orb Church’s processing of your personal data, under certain conditions.</p>
    <p><strong>The right to data portability</strong> – You have the right to request that Orb Church transfer the data that we have collected to another organization, or directly to you, under certain conditions.</p>
    <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email: <a href="mailto:theorbchurch@gmail.com">theorbchurch@gmail.com</a></p>
    
    <h3>Cookies</h3>
    <p>Orb Church does not use cookies.</p>
    
    <h3>Changes to our privacy policy</h3>
    <p>Orb Church keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 8 August 2021.</p>
    
    <h3>How to contact us</h3>
    <p>If you have any questions about Orb Church’s privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us.</p>
    <p>Email us at: <a href="mailto:theorbchurch@gmail.com">theorbchurch@gmail.com</a></p>    
</section>
