<section class="share-section">
    <!-- ko if: vm.screenshotLoaded() && vm.placementsShotLoaded() -->
    <div class="image-container">
        <img data-bind="attr: {src: vm.screenshot()}, css: {behind: vm.placementsMode()}" class="plain">
        <img data-bind="attr: {src: vm.screenshotPlacements()}, css: {masked: !vm.placementsMode()}" class="placements">
    </div>
    <!-- /ko -->
    <!-- ko ifnot: vm.screenshotLoaded() && vm.placementsShotLoaded() -->
    <div class="placeholder">
        <img src="/styles/png/placeholder.png" class="blank">
        <div class="loading-container">
            <div class="logo-ripple" style="background-size: 10000%"><img src="/styles/png/orb-logo-isolated.png"></div>        
            <img src="/styles/png/loading-preview.png" class="loading-preview">
        </div>
    </div>
    <!-- /ko -->
    <form data-bind="css: {masked: !(vm.screenshot() && vm.screenshotPlacements())}">
        <button class="long-press"></button>
        <button class="save-btn">
            <a data-bind="attr: {href: href()}" download="an-orb-poem-of-ones-own.jpg" target="_blank"></a>
        </button>
        <div class="show-placements">
            <button class="mobile-toggle" data-bind="class: btnCls(), click: vm.togglePlacementsMode"></button>
            <input type="checkbox" data-bind="checked: vm.placementsMode" id="placementsMode">
            <label for="placementsMode">Show Placements</label>
            <img src="/styles/png/show-placements.png" data-bind="click: vm.togglePlacementsMode">
        </div>
    </form>
</section>
