<section class="share-section">
    <!-- ko if: vm.screenshotURI() && vm.screenshotPlacementsURI()-->
    <div class="image-container">
        <!-- ko if: !showPlacements()-->
        <img data-bind="attr: {src: vm.screenshotURI()}">
        <!-- /ko -->
        <!-- ko if: showPlacements()-->
        <img data-bind="attr: {src: vm.screenshotPlacementsURI()}">
        <!-- /ko -->
    </div>
    <!-- /ko -->
    <!-- ko ifnot: vm.screenshotURI() && vm.screenshotPlacementsURI() -->
    <div class="placeholder">
        <div class="logo-ripple"><img src="/styles/png/orb-logo-isolated.png"></div>        
        <img src="/styles/png/loading-preview.png">
    </div>
    <!-- /ko -->
    <form data-bind="css: {masked: !(vm.screenshotURI() && vm.screenshotPlacementsURI())}">
        <button class="long-press"></button>
        <button class="save-btn">
            <a data-bind="attr: {href: href()}" download="an-orb-poem-of-ones-own.jpg" target="_blank"></a>
        </button>
        <div class="show-placements">
            <button class="mobile-toggle" data-bind="class: btnCls(), click: toggleShowPlacements"></button>
            <input type="checkbox" data-bind="checked: showPlacements" id="showPlacements">
            <label for="showPlacements">Show Placements</label>
            <img src="/styles/png/show-placements.png">
        </div>
    </form>
    <div class="divider"></div>
    <div class="img-heading"><img alt="clergy" src="/styles/png/clergy.png"></div>
    <ul data-bind="foreach: clergy" class="clergy">
        <li>
            <h2><a data-bind="text: name, attr: {href: link}"></a></h2>
            <!-- ko if: pic -->
            <img data-bind="attr: {src: pic}, click: (event, data) => showPoem(birthData)">
            <!-- /ko -->
            <div data-bind="html: bio" class="content"></div>
        </li>
    </ul>

</section>
