<section class="share-section">
    <!-- ko if: vm.screenshotURI() && vm.screenshotPlacementsURI()-->
    <div class="image-container">
        <!-- ko if: !showPlacements()-->
        <img data-bind="attr: {src: vm.screenshotURI()}">
        <!-- /ko -->
        <!-- ko if: showPlacements()-->
        <img data-bind="attr: {src: vm.screenshotPlacementsURI()}">
        <!-- /ko -->
        <button data-bind="class: btnCls()">
            <!-- ko if: btnEnabled -->
            <a data-bind="attr: {href: href()}" download="an-orb-poem-of-ones-own.jpg" target="_blank"></a>
            <!-- /ko -->
        </button>
        <form>
            <label for="showPlacements">Show Placements?</label>
            <input type="checkbox" data-bind="checked: showPlacements" id="showPlacements">    
        </form>    <!-- /ko -->

    <!-- ko ifnot: vm.screenshotURI() && vm.screenshotPlacementsURI() -->
    <div class="placeholder">
        <em>Loading preview...</em>
    </div>
    <!-- /ko -->

</section>
