<article data-bind="visible: poemData(), event: {keydown: keyDown}, css: {print: vm.printMode()}" tabindex="1" id="poem" class="moon">
    <div class="debug-bday" data-bind="visible: showDebug, if: birthData">
        <div data-bind="text: birthDay"></div>
        <div data-bind="text: location"></div>
        <div data-bind="text: coords"></div>
    </div>
    <span class="image-region" data-bind="class: iconPrimary()+'-layout', css: {'icons-ready': iconsReady()}, event: {click: vm.togglePlacementsMode}">
        <span class="icon primary" data-bind="class: iconPrimary, css: {masked: vm.pageTransitioning() || isLoading()}"></span>
        <span class="icon secondary" data-bind="class: iconSecondary, css: {masked: vm.pageTransitioning() || isLoading()}"></span>
        <span class="icon tertiary" data-bind="class: iconTertiary, css: {masked: vm.pageTransitioning() || isLoading()}"></span>
        <div data-bind="foreach: lines">
            <!-- ko if: ($index() === 0 && vm.screenshotMode() && !vm.printMode())-->
                <span data-bind="if: vm.screenshotMode() && !vm.printMode()" class="logo-container">
                    <img src="/styles/png/orb-logo-isolated.png">
                </span>
            <!-- /ko -->
            <form data-bind="css: {active: vm.placementsMode}">
                <!-- ko if: ($index() === 3) -->
                <span data-bind="css: {masked: vm.pageTransitioning()}" class="watermark-container">
                    <img src="/styles/png/orb-url-handwritten.png">
                </span>        
                <!-- /ko -->
                <span data-bind="text: line, noOrphans"></span>
                <legend data-bind="text: placement"></legend>
            </form>
        </div>
    </span>
    <nav data-bind="css: {masked: vm.pageTransitioning()}">
        <a href="#" data-bind="click: (data, event) => { vm.launchModal('share')}" class="share-link"><img src="/styles/png/share.png"></a>
    </nav>
    <!-- ko if: vm.printMode() -->
    <img src="/styles/png/signature-chris.png" class="signature chris">
    <img src="/styles/png/signature-dylan.png" class="signature dylan">
    <img src="/styles/png/signature-toups.png" class="signature toups">
    <!-- /ko -->    
</article>
<div class="hamburger-container" data-bind="css: {open: open, masked: vm.pageTransitioning() || isLoading()}">
    <img src="/styles/png/hamburger.png" class="hamburger" data-bind="click: toggleOpen">
    <!-- ko if: !sk() -->
    <a data-bind="click: (data, event) => { vm.launchModal('stats', stats) }" class="stats-link" href="#">view stats</a>
    <!-- /ko -->
    <div class="social-links">
        <a href="https://twitter.com/church_orb" target="_blank" class="social-icon twitter"></a>
        <a href="https://www.instagram.com/the.orb.astrology/" target="_blank" class="social-icon instagram"></a>
    </div>
    <nav class="aux">
        <a data-bind="click: (data, event) => { vm.launchModal('relicsPlaceholder') }" href="#"><img src="/styles/png/relics.png"></a>
        <a href="https://www.paypal.com/donate?hosted_button_id=PDE4GSNZWLD3G" target="_blank"><img src="/styles/png/tithe.png"></a>
        <a data-bind="click: (data, event) => { vm.launchModal('clergy') }" href="#"><img src="/styles/png/clergy.png"></a>
    </nav>    
</div>
<div data-bind="if: sk">
    <div class="sacred-rites" data-bind="click: (data, event) => { vm.launchModal('relics') }"></div>
</div>
