*, *::before, *::after {
  box-sizing: border-box;
}

html {
  position: fixed;
  font-size: $root-font-size;
  @include xs {
    font-size: $xs-root-font-size;
  }
  @include hz {
    font-size: $hz-root-font-size;
  }
  @include hz-lg {
    font-size: $hz-root-font-size;
  }
}
body, html {
  height: 100%;
  width: 100%;
  margin: 0; overflow: hidden;
  background-color: $main-bg-c;
}
@include xs { 
  html, body { height: -webkit-fill-available; }
}

body {
  display: flex;
  align-items: center; justify-content: center;
  @include pseudo-clone('before');

  &:before {
    background-size: cover;
    background: linear-gradient(44deg, rgba($coal, .5), rgba($gold-bright, .25));
    animation: Gradient 20s ease-in-out infinite;
  }
}

.pls-rotate {
  display: none;
  @include hz-lg {
    display: block;
    background-color: $gold;
    color: $poem-text-c;
    padding: 15px;
    border-radius: 2px;
    box-shadow: 0px 0px 18px $gold;
    font-family: 'Gothic A1', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
}

main {
  display: flex;
  justify-content: center; align-items: center;
  position: relative;
  @include xs { height: 100%; height: -webkit-fill-available; width: 100%; }
  @include hz-lg { pointer-events: none; opacity: 0; }
  font-family: 'Gothic A1', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.fixed { position: fixed; }
section {
    @include xs { position: fixed; }

    opacity: 1;
    transition: opacity, ease-out, 1200ms;

    display: flex;
    justify-content: center; 
    &.masked {
        opacity: 0;
        transition: opacity, ease-in, 1200ms;
    }
    &.zoom {
      transform: scale(1);
      transition: transform, ease-in-out, 3000ms;
      &.out {
        transform: scale(.1);
        transition: transform, ease-in-out, 3000ms;
      }
      #poem > div {
        transform: rotate3d(0, 0, 0, 0deg);
        transition: transform, ease-in-out, 3000ms;
      }
      &.out #poem > div {
        transform: rotate3d(-.05, .1, .05, 7deg);
        transition: transform, ease-in-out, 3000ms;
      }
    }
    &.poem-page.transform-complete {
      transform: unset;
      transition: unset;
    }
}

.loader { position: relative; height: 50px; width: 50px; }
.loader:after {
  content: '';
  background-image: url(svg/eye-of-providence.svg);
  background-size: contain;
  position: absolute;
  height: 100%; width: 100%;
  opacity: 1;
  transition: opacity, ease-in-out, 400ms;

  animation: Spinner 1.5s linear infinite;
  color: rgba($coal, .8);
}
.loader.masked:after {
  opacity: 0;
  transition: opacity, ease-in-out, 400ms;
}
.loader {
  position: absolute;
  height: 60px; width: 60px;
  filter: $gold-2-svg;
}

$logo-height: 4.5rem;
$logo-height-xs: 10vh;
$logo-height-hz: 60px;
.orb img { max-width: 90vw; }
main .orb {
  position: fixed;  
  opacity: 1;
  transition: opacity ease-out 1200ms;
  &.masked {
    opacity: 0;
    transition: opacity ease-in 1200ms;
  }
  &.logo {
    position: absolute;
    top: -$logo-height;
    transition: opacity 1200ms ease-out;
    text-align: center;
    z-index: 5000;
    @include xs {
      top: 0;
      padding: 2vh 0;
    }
    img {
      height: $logo-height;
      @include xs {
        height: auto;
        max-height: $logo-height-xs;
      }
      animation: Pulsate 5s ease-in-out infinite;
    }
  }
}

@include hz-lg {
  main {
    .orb.logo {
      position: fixed;
      left: 2.5vw;
      top: unset;
      img { height: 11vw; }
    }
    &.poem-page .orb.logo {
      left: 2vw; top: 2vw;
      img { height: 8vw; }  
    }
    section.poem-page {
      nav {
        position: fixed;
        bottom: 1.5vh;
        padding: 0;
        &.aux { left: 0; bottom: 0; }
      }
    }
  }  
}

@include hz {
  main {
    .orb.logo {
      left: 5vw;
      img { height: 17vw; }
    }
    section.natalForm-page {
      position: fixed;
      right: 5vw;
      form.natal-form {
        margin-top: 0;
        fieldset > div {
          margin: 0;
        }
      }
    }
    &.poem-page .orb.logo {
      left: 3vw; top: 3vw;
      img { height: 12vw; }  
    }
    section.poem-page {
      position: fixed;
      right: -10vw;
    }
  }
}
