*, *::before, *::after {
  box-sizing: border-box;
}

html { position: fixed; }
body, html {
  height: 100%; width: 100%;
  @include xs { min-height: -webkit-fill-available; }
  margin: 0; overflow: hidden;
}

main {
  height: 100%;
  display: flex;
  justify-content: center; align-items: center;
  background-color: $main-bg-c;
  // @include moire;
  // animation: Moire 50s ease-in-out infinite;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  @include pseudo-clone('before');
}

main:before {
  background-size: cover;
  background: linear-gradient(44deg, rgba($coal, .5), rgba($gold-bright, .25));
  animation: Gradient 20s ease-in-out infinite;
}

section {
    margin: 15px 0;
    @include xs { margin: 15px 10px; }

    opacity: 1;
    transition: opacity, ease-out, 1200ms;
    &.masked {
        opacity: 0;
        transition: opacity, ease-in, 1200ms;
    }
}

.loader { position: relative; height: 50px; width: 50px; }
.loader:after {
  content: '';
  background-image: url(svg/eye-of-providence.svg);
  background-size: contain;
  position: absolute;
  height: 100%; width: 100%;
  opacity: 1;
  transition: opacity, ease-in-out, 400ms;

  animation: Spinner 1.5s linear infinite;
  color: rgba($coal, .8);
}
.loader.masked:after {
  opacity: 0;
  transition: opacity, ease-in-out, 400ms;
}
main .loader {
  position: absolute;
  height: 60px; width: 60px;
  filter: $gold-2-svg;
}
main .orb {
  &.orb-loader {
    position: fixed;
    pointer-events: none;
    z-index: 0;
    img { max-width: 90vw; }
  }

  opacity: 1;
  transition: opacity ease-out 1200ms;
  &.masked {
    opacity: 0;
    transition: opacity ease-in-out 1200ms;
  }
}