*, *::before, *::after {
  box-sizing: border-box;
}

html { position: fixed; }
body, html {
  height: 100vh; width: 100vw;
  margin: 0; overflow: hidden;
  background-color: $main-bg-c;

  @include xs {
    min-height: -webkit-fill-available;
    height: 100%;
  }
  
  @include hz {
    height: 100%;
  }
}

body {
  display: flex;
  align-items: center; justify-content: center;
  @include pseudo-clone('before');

  &:before {
    background-size: cover;
    background: linear-gradient(44deg, rgba($coal, .5), rgba($gold-bright, .25));
    animation: Gradient 20s ease-in-out infinite;
  }
}

main {
  display: flex;
  justify-content: center; align-items: center;
  position: relative;
  @include xs { height: 100%; width: 100%; }
  @include hz { height: 100%; width: 100%; }
  // @include moire;
  // animation: Moire 50s ease-in-out infinite;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.fixed { position: fixed; }
section {
    margin: 15px 0;
    @include xs { margin: 15px 10px; }
    @include xs { position: fixed; }

    opacity: 1;
    transition: opacity, ease-out, 1200ms;

    display: flex;
    justify-content: center; 
    &.masked {
        opacity: 0;
        transition: opacity, ease-in, 1200ms;
    }
    &.zoom {
      transform: scale(1);
      transition: transform, ease-in-out, 3000ms;
      &.out {
        transform: scale(.1);
        transition: transform, ease-in-out, 3000ms;
      }
      #poem > div {
        transform: rotate3d(0, 0, 0, 0deg);
        transition: transform, ease-in-out, 3000ms;
      }
      &.out #poem > div {
        transform: rotate3d(-.05, .1, .05, 7deg);
        transition: transform, ease-in-out, 3000ms;
      }
    }
    &.poem-page.transform-complete {
      transform: unset;
      transition: unset;
    }
}

.loader { position: relative; height: 50px; width: 50px; }
.loader:after {
  content: '';
  background-image: url(svg/eye-of-providence.svg);
  background-size: contain;
  position: absolute;
  height: 100%; width: 100%;
  opacity: 1;
  transition: opacity, ease-in-out, 400ms;

  animation: Spinner 1.5s linear infinite;
  color: rgba($coal, .8);
}
.loader.masked:after {
  opacity: 0;
  transition: opacity, ease-in-out, 400ms;
}
.loader {
  position: absolute;
  height: 60px; width: 60px;
  filter: $gold-2-svg;
}

$logo-height: 80px;
$logo-height-xs: 12vh;
$logo-height-hz: 60px;
.orb img { max-width: 90vw; }
main .orb {
  position: fixed;  
  opacity: 1;
  transition: opacity ease-out 1200ms;
  &.masked {
    opacity: 0;
    transition: opacity ease-in 1200ms;
  }
  &.logo {
    position: absolute;
    top: -$logo-height;
    @include hz { right: 15px; top: 15px; }
    transition: opacity 1200ms ease-out;
    text-align: center;
    z-index: 5000;
    img {
      height: $logo-height;
      @include xs { height: $logo-height-xs; }
      @include hz { height: $logo-height-hz; }
      animation: Pulsate 5s ease-in-out infinite;
    }
  }
}

@include xs {
  main .orb.logo {
    top: 0;
    padding: 10px 0;
    width: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
  }
}