$md: 1430px;
$sm: 950px;
$xs: 480px;
$hz: 812px;

@mixin md {
  @media (max-width: #{$md}) {
    @content;
  }
}

@mixin sm {
  @media (max-width: #{$sm}) {
    @content;
  }
}

@mixin xs {
  @media (max-width: #{$xs}) {
    @content;
  }
}

@mixin hz {
  @media only screen and (max-width: #{$hz}) and (orientation: landscape) {
    @content;
  }
}
