$md: 1430px;
$sm: 950px;
$xs: 480px;
$hz: 900px;
$hz-lg-ht: 350px;
$mn-sz: 700px;

@mixin md {
  @media (max-width: #{$md}) {
    @content;
  }
}

@mixin sm {
  @media (max-width: #{$sm}) {
    @content;
  }
}

@mixin nav-cutoff {
  @media (max-width: #{$mn-sz}) {
    @content;
  }
}

@mixin xs {
  @media (max-width: #{$xs}) {
    @content;
  }
}

@mixin hz-lg {
  @media only screen and (max-width: #{$hz}) and (orientation: landscape) {
    @content;
  }
}

@mixin hz {
  @media only screen and (max-width: #{$hz}) and (max-height: #{$hz-lg-ht}) and (orientation: landscape) {
    @content;
  }
}
