$md: 1430px;
$sm: 950px;
$xs: 480px;

@mixin md {
  @media (max-width: #{$md}) {
    @content;
  }
}

@mixin sm {
  @media (max-width: #{$sm}) {
    @content;
  }
}

@mixin xs {
  @media (max-width: #{$xs}) {
    @content;
  }
}
