::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: darken($gold, 50%);
}

// firefox only
* {
    scrollbar-width: thin;
    scrollbar-color: darken($gold, 50%) transparent;
}