// colors:
$blue: rgb(21, 67, 96);
$light-blue: rgb(33, 97, 140); // #21618c
$gold: rgb(255, 236, 179);
$gold-bright: rgb(255, 253, 231);
$coal: rgb(10, 10, 10);

$main-bg-c: $blue;
$form-bg-c: opacity-compensate($blue, rgba($light-blue, .35));

$form-text-c: $gold-bright;
$poem-text-c: $coal;
$poem-text-hover-c: $blue;

// gradients:
$bg-input-focus: linear-gradient(to top, rgba($blue, .25), transparent 15px);

// svg borders: https://kovart.github.io/dashed-border-generator/
$dotted-border: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='1' stroke-dasharray='2 2' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");