// colors:
$blue: rgb(21, 67, 96);
$blue-2: hsl(244, 97%, 15%);
$blue-light: rgb(33, 97, 140); // #21618c
$gold: rgb(255, 236, 179);
$gold-2: rgb(234, 233, 153);
$gold-bright: rgb(255, 253, 231);
$coal: rgb(10, 10, 10);

$main-bg-c: darken($blue-2, 5%);
$form-bg-c: $gold-2;

$form-text-c: $main-bg-c;
$poem-text-c: $blue;
$poem-text-hover-c: $blue-light;

$moon-color: $gold-2;

// gradients:
$bg-input-focus: linear-gradient(to top, rgba($blue-2, .25), transparent 15px);

// svg borders: https://kovart.github.io/dashed-border-generator/
$dotted-border: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='1' stroke-dasharray='2 2' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");