// hex to css filter calculator: https://codepen.io/sosuke/pen/Pjoqqp

// colors:
$blue:              #154360; // #154360
$blue-svg:          invert(20%) sepia(18%) saturate(2920%) hue-rotate(166deg) brightness(94%) contrast(88%);
$blue-2:            #06014b; // #06014b
$blue-2-svg:        invert(8%) sepia(32%) saturate(6960%) hue-rotate(240deg) brightness(89%) contrast(119%);
$blue-light:        #21618c; // #21618c
$blue-light-svg:    invert(26%) sepia(96%) saturate(677%) hue-rotate(169deg) brightness(92%) contrast(81%);
$gold:              #ffecb3; // #ffecb3
$gold-svg:          invert(82%) sepia(49%) saturate(240%) hue-rotate(347deg) brightness(105%) contrast(103%);
$gold-2:            #eae999; // #eae999
$gold-2-svg:        invert(91%) sepia(38%) saturate(381%) hue-rotate(1deg) brightness(96%) contrast(91%);
$gold-bright:       #fffde7; // #fffde7
$gold-bright-svg:   invert(94%) sepia(15%) saturate(356%) hue-rotate(36deg) brightness(107%) contrast(104%);
$coal:              #0a0a0a; //#0a0a0a
$coal-svg:          invert(0%) sepia(95%) saturate(6%) hue-rotate(331deg) brightness(96%) contrast(92%);
$blood:             #ef4c40; //#ef4c40
$blood-2:           #c40e01; //#c40e01
$blood-svg:         invert(37%) sepia(27%) saturate(5395%) hue-rotate(340deg) brightness(100%) contrast(88%);
$yellow-logo:       #d2b350;

$main-bg-c:     darken($blue-2, 5%);
$main-bg-c-svg: $blue-2-svg;
$form-bg-c:     $gold-2;
$form-bg-c-svg: $gold-2-svg;

$form-text-c:           $main-bg-c;
$form-text-c-svg:       $main-bg-c-svg;
$poem-text-c:           $blue;
$poem-text-c-svg:       $blue-svg;
$poem-text-hover-c: $blue-light;
$poem-text-hover-c-svg: $blue-light-svg;

$moon-color: $gold-2;
$moon-color-svg: $gold-2-svg;

// gradients:
$bg-input-focus: linear-gradient(to top, rgba($blue-2, .25), transparent 15px);

// svg borders: https://kovart.github.io/dashed-border-generator/
$dotted-border: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='1' stroke-dasharray='2 2' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");