<form class="natal-form" data-bind="css: {masked: vm.isLoading() && firstLoad()}" autocomplete="off">
    <i class="loader" data-bind="visible: isLoading"></i>
    <fieldset class="birth-time" data-bind="if: ready">
        <div class="legend" role="legend">Birth time & location</div>
        <div>
            <div>
                <label>Month</label>
                <span class="input-container" data-bind="if: timeFieldsReady">
                    <select data-bind="cleanValue: month, options: months, optionsPlaceholder: months()[0].short, optionsText: 'short', optionsValue: 'num'"></select>
                </span>
            </div>

            <div>
                <label>Day</label>
                <span class="input-container">
                    <select data-bind="cleanValue: day, options: days, optionsPlaceholder: 1"></select>
                </span>
            </div>

            <div>
                <label>Year</label>
                <span class="input-container">
                    <input data-bind="cleanValue: year, attr: {max: maxYear, min: minYear}, event: {focus: setDefaultYear, input: validate}" type="number" inputmode="numeric">
                </span>
            </div>
        </div>
        <div>
            <div>
                <label>Hour</label> 
                <span class="input-container">
                    <select data-bind="cleanValue: hour, options: hours, optionsPlaceholder: 1, optionsText: hour => hour, optionsValue: hour => hour === 12 ? 0 : hour"></select>
                </span>
            </div>
            <div>
                <label>Minutes</label>
                <span class="input-container">
                    <select data-bind="cleanValue: minute, options: minutes, optionsPlaceholder: '00', optionsText: minute => minute < 10 ? '0'+minute : minute, optionsValue: minute => minute"></select>
                </span>
            </div>
            <div>
                <label>AM/PM</label>
                <span class="input-container">
                    <select data-bind="cleanValue: pmOffset, options: pmOffsets, optionsPlaceholder: 'AM', optionsText: 'label', optionsValue: 'value'"></select>
                </span>
            </div>
        </div>
        <div class="single-line">
            <label>City</label>
            <span class="input-container">
                <div data-bind="component: {name: 'suggestions', params: cityParams}" class="suggestion-container">
                    <span data-bind="component: {name: 'addressResult', params: {address: result.resultData.address, type: 'city'}}"></span>
                </div>
            </span>
        </div>
    </fieldset>
    <fieldset class="submit">
        <div>
            <button data-bind="click: submit,
                            enable: submitReady || !auto(),
                            hasFocus: submitReady,
                            css: {disabled: !submitReady(), enabled: submitReady()},
                            attr: {title: submitReady() ? '' : 'Fill out birth time and location to proceed.'}" type="button">Submit</button>
        </div>
    </fieldset>
    <div class="summary">
        <ul data-bind="if: birthChart">
            <li>
                <span>☉</span>
                <span data-bind="text: birthChart().sun.substring(0,3)"></span>
            </li>
            <li>
                <span>☽</span>
                <span data-bind="text: birthChart().moon.substring(0,3)"></span>
            </li>
            <li>
                <span>↑</span>
                <span data-bind="text: birthChart().ascendant.substring(0,3)"></span>
            </li>
            <li>
                <span>☿</span>
                <span data-bind="text: birthChart().mercury.substring(0,3)"></span>
            </li>
            <li>
                <span>♀</span>
                <span data-bind="text: birthChart().venus.substring(0,3)"></span>
            </li>
            <li>
                <span>♂</span>
                <span data-bind="text: birthChart().mars.substring(0,3)"></span>
            </li>
        </ul>
        <div data-bind="text: timeSummary"></div>
        <div data-bind="text: locationSummary"></div>
    </div>
    <button id="random" type="button" data-bind="click: randomChart">random chart</button>
</form>

