.img-heading {
    text-align: center;
    // padding-top: 20px;
    // border-top: 4px dotted $yellow-logo;
    // margin: 0 15%;

    img { height: 45px; }
}
ul.clergy {
    font-family: 'Noto Serif TC', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style: none; padding: 0; margin: 0;
    a {
        text-decoration: none;
        color: white;
    }
    li {
        display: flow-root;
        h2 {
            font-family: 'raleway', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-transform: uppercase;
            font-size: 130%;
            margin-bottom: 7px;
            a { color: $gold-2; }
        }
        img {
            float: left;
            max-width: 50%;
            min-height: 20px;
            max-height: 100px;
            margin-right: 10px;
            border-radius: 5px;
            background-color: rgba(255,255,255,.5);
        }
        .content {
            margin-top: -10px;
            font-size: 80%;
        }
    }
}
