.debug {
    // @include xs { display: none; }
    @include xs { transform: scale(.75); transform-origin: top left; }
    display: flex;
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 0;
    padding: 5px;
    opacity: 0.5;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    &:hover, &:active {
        background-color: rgba(255,255,255.75);
        z-index: 1000;
    }

    dl {
        margin: 0;
        dt {
            text-decoration: underline;
        }
        dd {
            font-size: 1.5em;
            span {
                font-size: .7em;
                &:nth-child(2) { font-size: .5em; }
            }
        }
    }
}