.modal {
    background-color: rgba($coal, .8);
    min-height: 100vh;
    min-height: -webkit-fill-available;
    @include xs { min-height: -webkit-fill-available; }
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 10000;
    display: flex; align-items: center; justify-content: center;
    &.show { opacity: 1; }
    &.hide { opacity: 0; }
    transition: opacity 500ms ease-in-out;
    &.show, &.hide { transition: opacity 500ms ease-in-out; }
}
.modal-content {
    height: 80vh; max-width: 450px;
    @include xs { height: 100vh; max-width: unset; }
    @include hz-lg { height: 100vh; max-width: unset; }
    @include hz { height: 100vh; max-width: unset; }

    // bc safari is weird:
    align-self: center;
    flex-grow: 1;

    padding: 0 15px;
    color: $gold-2;

    @include pseudo-clone('before');
    &:before { content: none; }
    &.loading-text:before {
        content: "Please wait...";
        font-family: $serif;
        font-style: italic;
        display: flex;
        align-items: center; justify-content: center;

        opacity: 0;
        transition: opacity 500ms ease-in;
    }

    &.loading:before {
        opacity: 1;
        transition: opacity 500ms ease-in;
    }
    
    > h1 {
        position: absolute;
        z-index: 1000;
        top: -45px; left: 0;
        padding: 0 15px;
        @include xs { top: 0; }
        @include hz-lg {top: 0; }
        @include hz { top: 0; }
        display: flex;
        width: 100%;
        margin: 0;
        @include xs { 
            padding: 5px 15px 15px;
            background-image: linear-gradient(0deg, rgba(0,0,0,0), rgba(0,0,0,1));
        }
        @include hz-lg {
            padding: 5px 15px 15px;
            background-image: linear-gradient(0deg, rgba(0,0,0,0), rgba(0,0,0,1));
            position: fixed;
        }
        @include hz {
            padding: 5px 15px 15px;
            background-image: linear-gradient(0deg, rgba(0,0,0,0), rgba(0,0,0,1));
        }
        justify-content: space-between;
        text-transform: capitalize;
        > i.x {
            margin: 5px;
            background-image: url('png/return.png');
            width: 130px;
            height: 26px;
            background-size: 130px;
            cursor: pointer;
            @include xs { font-size: 75%; }
        }
    }

    section {
        display: block;
        position: static;
        overflow: auto;
        margin: 0;
        height: 100%;
        max-height: 100vh;
        max-height: -webkit-fill-avialable;
        @include xs {
            padding-top: 7.5vh;
            > :last-child { padding-bottom: 15vh; }
        }
        @include hz-lg {
            padding-top: 8vh;
            > :last-child { padding-bottom: 15vh; }
        }
        @include hz {
            padding-top: 8vh;
            > :last-child { padding-bottom: 15vh; }
        }

        .mini-modal {
            position: fixed;
            left: 0; top: 0;
            width: 100%; height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(0,0,0,.85);
            z-index: 1000;
            visibility: visible;
            opacity: 1;
            transition: all 500ms ease-in;
            &.masked {
                opacity: 0;
                visibility: hidden;
                &.transitioning { visibility: visible; }
                transition: all 500ms ease-in;
            }
            .mini-modal-content {
                width: 25rem;
                padding: .5rem 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
