form.natal-form {

    background-color: $form-bg-c;
    color: $form-text-c;
    font-family: $sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-radius: 2px;
    padding: 10px;
    position: relative;
    z-index: 1;
    margin: 15px 0 0;
    @include xs { margin: 0; }

    .loader {
        position: absolute;
        top: 0; right: 0;
        @include xs { position: fixed; }
        height: 25px; width: 25px;
        filter: $form-text-c-svg;
        @include xs { filter: $gold-2-svg; }
    }

    fieldset {
        border: none;

        display: flex;
        flex-direction: column;
        text-align: center;
        color: $coal;

        &:last-child { padding-top: 0; }

        legend, .legend {
            align-self: baseline;
        }

        label {
            padding: 2px 4px;
            border-radius: 3px;
        }
        
        > legend, .legend, label {
            text-transform: uppercase;
            opacity: 0.7;
            font-size: 1.2em;
            align-self: center;
            margin: 0;
        }
        > div {
            margin: 10px 0;
            display: flex;
            align-items: baseline;
        }
        > div > div, .single-line {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
        }
        &.birth-time {
            > div {
                justify-content: space-evenly;
                > div {
                    flex: 1 0 0;
                    &:focus-within label { color: $form-text-c; }
                }
            }
            label {
                font-size: 1em;
                @include xs { font-size: 1.15em; }
                margin-top: 2px;
            }
        }
        &.location {
            > div {
                justify-content: space-between;
                &:focus-within label { color: $form-text-c; }
            }
            label {
                font-size: 1em;
                @include xs { font-size: 1.15em; }
                align-self: baseline;
                margin-right: 5px;
            }
        }
        &.submit {
            > div {
                justify-content: center;
                margin: 0;
            }
            button {
                padding: 10px 15px;
                @include xs { padding: 15px 20px; }
                font-size: 0.8em;
                @include xs { font-size: 1.1em; }
                text-transform: uppercase;
                border: none;
                
                background-color: transparent;
                text-shadow: 0px 0px 0px transparent;
                transition: background-color ease-in-out 800ms,
                            color ease-in-out 800ms,
                            text-shadow ease-in-out 800ms;
                color: $blue-2;
                cursor: pointer;

                &:hover {
                    background-color: lighten($color: $gold-2, $amount: 10%);
                    transition: background-color ease-in-out 75ms;
                }
                
                &.disabled {
                    opacity: .75;
                    text-shadow: 0px 0px 2px $blue-2;
                    @include xs { text-shadow: 0px 0px 4px $blue-2; }
                    transition: opacity ease-in-out 75ms,
                                color ease-in-out 75ms,
                                background-color ease-in-out 75ms,
                                text-shadow ease-in-out 75ms;
                    color: transparent;
                    cursor: not-allowed;
                    &:hover {
                        opacity: .85;
                        transition: opacity ease-in-out 75ms;
                    }
                }
            }
        }
        
    }
    input, select, button {
        border: none;
        border-bottom: 1px solid rgba($form-text-c, .5);
        background-color: transparent;
        color: $form-text-c;
        cursor: pointer;
        font-size: 1.2em;
        -webkit-appearance: none;
        -webkit-border-radius: 0;
        border-radius: 0;
        
        padding-left: 5px;
        padding: 0 3px;
        position: relative;
        z-index: 1;
        
        @include xs {
            min-width: 53px;
            padding: 0 5px;
        }
        
        &:focus { outline: none; }
        &.clean.untouched, &.clean.untouched::placeholder, &.clean.untouched[type="text"] {
            border-bottom: 1px dashed rgba($form-text-c, 1);
            color: rgba($form-text-c,0);
            &:focus {
                color: rgba($form-text-c, .5);
            }
        }
        &.placeholder { border: none; }
        &.dirty:focus {
            color: rgba($form-text-c, 1);
        }

        &[disabled=""] {
            background-color: darken($color: $form-bg-c, $amount: 50%);
            cursor: not-allowed;
        }
    }
    input[type="number"] {
        width: 50px;
        -moz-appearance: textfield;
    }
    input[type="number"]::-webkit-inner-spin-button, 
    input[type="number"]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    }
    .selection-mask { border-bottom: 1px solid rgba($form-text-c, .5); }
    select {
        text-align: center;
        text-align-last: center;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        // IE:
        &::-ms-expand {
            display: none;
        }
        option {
            background-color: $form-bg-c;
            &.hide { display: none; }
        }
    }

    .input-container    { @include pseudo-clone('before'); }
    .selection-mask     { @include pseudo-clone('before', $position: 'absolute')};
    .input-container, .selection-mask {
        &:before {
            background-image: linear-gradient(to top, rgba($form-text-c, .25), transparent 15px);
            background-repeat: no-repeat;
            background-position-y: 15px;
            transition: background-position-y 150ms linear;
        }
        &:hover:before, &:focus-within:before {
            background-position-y: 0px;
            @include xs { background-position-y: -2px; }
            transition: background-position-y 150ms linear;
        }
    }
    .selection-mask button { border: none; }

    .suggestion-container {
        flex-basis: 65%;
        position: relative;
        input[type="text"] {
            width: 100%;
            color:rgba($form-text-c, .5);
            &:focus {
                color:rgba($form-text-c, 1);
            }
        }
    }
    section.timezone-warning {
        position: absolute;
        display: block;
        background: #e14521;
        padding: 5px 23px;
        color: $form-bg-c;
        &.masked { z-index: 0; }
        z-index: 1;
        width: 80%;
        font-size: 70%;
        &:before {
            content: "!";
            position: absolute;
            right: 0;
            bottom: 12px;
            font-size: 666%;
        };
        .btn-container {
            text-align: center;
            padding: 10px 0;
            button {
                box-shadow: 0px 0px 3px $gold-2 inset;
                background-color: rgba($gold-2,.5);
                padding: 5px;
            }
        }
    }
}
.summary {
    font-size: 51%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 0 0 2px 2px;
    opacity: .75;
    ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        list-style: none;
        width: 85px;
        padding: 0; margin: 0;
        li {
            margin-right: 2px;
            display: flex;
            flex-basis: 25px;
            span:first-child { min-width: 10px; }
        }
    }
}

button#random {
    position: absolute;
    bottom: -2.5rem;
    text-transform: uppercase;
    padding: 6px 10px;
    color: #d2b350;
    border-radius: 5px;
    text-shadow: 0px 0px 14px #d2b350;
    opacity: 1;
    transition: opacity 1000ms ease-in,
                box-shadow 1000ms ease-in;
    &.masked {
        opacity: 0;
        cursor: initial;
    }
    &.glow {
        animation-delay: 1s;
    }
    &.animate {
        animation: Wavy 20000ms ease-in-out infinite;
    }
}
