form.natal-form {

    background-color: $gold;
    color: $blue;
    opacity: .85;
    transition: opacity, ease-in-out, 1200ms;
    &.masked { opacity: 0; }
    
    border-radius: 2px;
    padding: 10px;
    position: relative;
    z-index: 1;

    .loader {
        position: absolute;
        top: 0; right: 0;
        @include xs { position: fixed; top: unset; right: 35px; bottom: 20px; }
        transform-origin: top right;
        @include xs { transform-origin: bottom right; }
        transform: scale(40);
        opacity: .6;
        @include xs { transform: scale(60) }
        @include xs { text-shadow: 0px 0px 15px white;}
    }

    fieldset {
        border: none;

        display: flex;
        flex-direction: column;
        text-align: center;

        &:focus-within legend { color: $coal; }
        &:focus-within .legend { color:
            rgba($gold, 0);
            transition: color 500ms ease-in-out;
        }
        .legend {
            position: absolute;
            top: -30px;
            color: rgba($gold, 1);
            white-space: nowrap;
            transition: color 500ms ease-in-out;
            animation: Wavy 10s ease-in-out infinite;
        }

        &:last-child { padding-top: 0; }

        legend, .legend {
            border-bottom: 1px dashed $coal;
            align-self: baseline;
        }

        label {
            padding: 2px 4px;
            border-radius: 3px;
        }
        
        > legend, .legend, label {
            text-transform: uppercase;
            opacity: 0.7;
            font-size: 1.2em;
            align-self: center;
            margin: 0;
        }
        > div {
            margin: 10px 0;
            display: flex;
            align-items: baseline;
        }
        > div > div, .single-line {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
        }
        &.birth-time {
            > div {
                justify-content: space-evenly;
                > div {
                    flex: 1 0 0;
                    &:focus-within label { color: $coal; }
                }
            }
            label {
                font-size: 1em;
                @include xs { font-size: 1.15em; }
                margin-top: 2px;
            }
        }
        &.location {
            > div {
                justify-content: space-between;
                &:focus-within label { color: $coal; }
            }
            label {
                font-size: 1em;
                @include xs { font-size: 1.15em; }
                align-self: baseline;
                margin-right: 5px;
            }
        }
        &.submit {
            > div {
                justify-content: center;
                margin: 0;
            }
            button {
                padding: 10px 15px;
                @include xs { padding: 15px 20px; }
                font-size: 0.8em;
                @include xs { font-size: 1.1em; }
                text-transform: uppercase;
                border: none;
                
                background-color: $blue;
                text-shadow: 0px 0px 0px transparent;
                transition: background-color ease-in-out 800ms,
                            color ease-in-out 800ms,
                            text-shadow ease-in-out 800ms;
                color: white;
                cursor: pointer;

                &:hover {
                    background-color: lighten($color: $blue, $amount: 30%);
                    transition: background-color ease-in-out 75ms;
                }
                
                &.disabled {
                    background-color: lighten($color: $blue, $amount: 50%);
                    text-shadow: 0px 0px 1.5px white;
                    transition: background-color ease-in-out 75ms,
                                color ease-in-out 75ms,
                                text-shadow ease-in-out 75ms;
                    color: transparent;
                    cursor: not-allowed;
                    &:hover {
                        background-color: lighten($color: $blue, $amount: 40%);
                        transition: background-color ease-in-out 75ms;
                    }
                }
            }
        }
        
    }
    input, select, button {
        border: none;
        border-bottom: 1px solid rgba($blue, .5);
        background-color: transparent;
        color: $coal;
        cursor: pointer;
        font-size: 1.2em;
        
        padding-left: 5px;
        position: relative;
        z-index: 1;
        
        @include xs {
            min-width: 75px;
            padding: 5px;
        }
        
        &:focus { outline: none; }
        &.clean, &[type="text"]:empty {
            border-bottom: 1px dashed rgba($blue, .5);
            color: rgba($coal,0);
            &:focus {
                color: rgba($coal, .5);
            }
        }
        &.placeholder:empty { border: none; }
        &.dirty:focus {
            color: rgba($coal, 1);
        }

        &[disabled=""] {
            background-color: darken($color: $gold, $amount: 50%);
            cursor: not-allowed;
        }
    }
    .selection-mask { border-bottom: 1px solid rgba($blue, .5); }
    select {
        text-align: center;
        text-align-last: center;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 2px 3px;
        // IE:
        &::-ms-expand {
            display: none;
        }
        option {
            background-color: $gold;
            &.hide { display: none; }
        }
    }

    .input-container    { @include pseudo-clone('before'); }
    .selection-mask     { @include pseudo-clone('before', $position: 'absolute')};
    .input-container, .selection-mask {
        &:before {
            background-image: linear-gradient(to top, rgba($blue, .25), transparent 15px);
            background-repeat: no-repeat;
            background-position-y: 15px;
            transition: background-position-y 150ms linear;
        }
        &:hover:before, &:focus-within:before {
            background-position-y: 0px;
            transition: background-position-y 150ms linear;
        }
    }
    .selection-mask button { border: none; }

    .suggestion-container {
        flex-basis: 65%;
        position: relative;
        input[type="text"] { width: 100%; }
    }
}

button#random {
    position: absolute;
    opacity: .75;
    bottom: 5px;
    right: 5px; 
    max-width: 120px;
    text-transform: uppercase;
    padding: 6px 10px;
    transform: scale(0.56);
    transform-origin: bottom right;
}