#poem {
    background-color: rgba($coal, .1);
    box-shadow: 0px 0px 1000px -50px rgba($gold, .25);
    border-radius: 2px;
    animation: Wiggle 50s linear infinite;
    z-index: 1000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    @include pseudo-clone('after');
    &:after {
        background: linear-gradient(45deg, rgba($gold,0.15), rgba($gold, .45));
        background-size: contain;

        animation: Gradient 10s ease-in-out infinite;
      }
    form {
        margin: 0;
        padding: 17px 15px;
        @include xs { padding: 17px 30px; }
        color: $poem-text-c;
        text-shadow: 0px 1px 1px $coal;

        position: relative;
        legend {
            position: absolute;
            bottom: 4px;
            right: 4px;
            font-size: 9.5px;
            text-transform: uppercase;
            user-select: none;
            color: rgba($gold, 0);
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-shadow: 0px 0px 0px transparent;
            transition: color 700ms ease-in-out,
                        text-shadow 2000ms ease-in-out;
        }
        &:hover, &:active {
            legend {
                color: rgba($poem-text-hover-c, 1);
                text-shadow: 0px 1px 1px $coal;
                transition: color 1200ms ease-in-out,
                            text-shadow 700ms ease-in-out;
            }
        }
    }

    //Debug:
    .debug-placement, .debug-bday {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: lighter;
        position: absolute;
        background-color: white;
        color: black;
        opacity: .4;
        padding: 2px;
        left: -35%;
    }
    .debug-placement {
        top: 25%;
    }
    .debug-bday {
        top: -25%;
    }
    &:focus {
        outline: none;
    }
}