.merch-coming-soon {
    height: 100%;
    display: flex;
    align-items: center; justify-content: center;
    img {
        max-height: 200px;
        max-width: 100%;
        @include hz-lg {
            max-height: 30vh;
            margin: 15vh auto;
        }
    }
}

.modal-content.relics {
    max-width: 100vw;
    h1 {
        margin: 0 auto;
        left: calc(50vw - 12.5rem);
        text-align: center;
        padding: 0;
        @include xs { left: 0; }
    }
}

.relics {
    button {
        cursor: pointer;
        background-color: transparent;
        color: $gold;
        border: $gold-bright 0.09rem dotted;
        box-shadow: 0px 0px 15px rgba($gold-bright,.25) inset;
        text-transform: uppercase;
    }
}

.print-pitch {
    max-width: 25rem;
    margin: 0 auto;
    text-align: center;
    margin-top: .25rem;
    position: initial;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
    &.masked {
        opacity: 0;
        position: absolute;
        transition: opacity 500ms ease-in-out;
        width: 100%;
        visibility: hidden;
    }    
    img {
        width: 16.5rem;
        @include xs { width: 90%; }
        padding: 0.2rem;
        border: $gold-bright 0.09rem dotted;
        box-shadow: 0px 0px 0.8rem rgba($gold-bright,.6);
        animation: Throb 3.25s ease-in-out infinite;
    }
}
.blurb {
    width: 22.5rem;
    @include xs { width: 90%; }
    font-size: 90%;
    @include xs { font-size: 3.2vw; }
    margin: .5rem auto 0;
    text-transform: uppercase;
}
.blurb-caption {
    font-family: $serif;
    font-size: 70%;
    margin: .2rem 0 0;
    opacity: .9;
    &:before, &:after { content: " - "; }
}
button.buy {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: 120%;
    @include xs {
        width: 100%;
        padding: .5rem;
    }
}
.relics .content {
    max-width: 25rem;
    margin: 0 auto;
    text-align: center;
}
.relics form {
    font-family: $sans-serif;
    @include xs { max-width: auto; }
    position: initial;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
    &.masked {
        opacity: 0;
        position: absolute;
        transition: opacity 500ms ease-in-out;
        visibility: hidden;
    }
    legend, label {
        font-size: 75%;
        text-transform: uppercase;
    }
    .field {
        display: flex;
        flex-direction: column-reverse;
        label {
            margin-bottom: 7px;
            text-align: right;
            &.required {
                display: flex;
                justify-content: space-between;
                align-items: center;
                &:before {
                    content: "required";
                    color: rgba($gold-bright, .75);
                    font-size: 10px;
                    font-style: italic;
                    text-transform: lowercase;
                }
            }
        }
        input, textarea, select {
            background-color: transparent;
            padding-top: 10px;
            border-width: 0;
            border-bottom: 1px dotted $gold-bright;
            font-size: 100%;
            color: $gold-bright;
            &:focus {
                outline: none;
                border-style: solid;
            }
        }
        &.select {
            label {
                border-top: 1px dotted $gold-bright;
                margin-left: 0;
                padding-left: 5px;
            }
            select {
                border-bottom: none;
                position: relative;
                left: -1.5px;
                cursor: pointer;
            }
            &.placeholder select { opacity: .375; }
        }
        option {
            background-color: $coal;
            color: $gold-bright;
        }
        textarea {
            resize: vertical;
            margin: 5px 0;
            border-left: 1px dotted rgba($gold-bright, .6);
            padding-top: 0;
            height: 1.3rem;
            font-family: $sans-serif;
            &::placeholder {
                font-family: $sans-serif;
            }
            &#comments::placeholder {
                font-family: $serif;
                font-style: italic;
                transform: scale(.9);
                transform-origin: bottom left;
            }
        }
    }
    fieldset { 
        border-top: 2px dotted; border-bottom: 2px dotted;
        border-left: none; border-right: none;
        padding: 5px 15px;
        margin: 15px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include xs {
            min-width: auto;
            padding: 5px 2px;
        }

        &.validating .field { opacity: 0.25; }
        &.verified select { text-transform: uppercase; }
        
        .loader {
            align-self: center;
            width: 1.5rem; height: 1.5rem;
        }

        legend {
            text-align: center;
            padding: 0 5px;
            font-size: 65%;
            margin-bottom: -3px;
            opacity: .75;
            @include xs { max-width: 145px; }
        }

        label {
            margin-left: 5px;
            font-size: 65%;
        }
    }
}

.relics .mini-modal-content {
    p {
        text-transform: uppercase;
        font-size: 67%;
    }
    .btn-container {
        display: flex;
        flex-direction: column;
        margin-top: 0.5rem;
        justify-content: center;        
    }
    button {
        padding: .5rem 2rem;
        align-self: center;
        @include xs { width: 100%; }
    }
    a {
        color: #e1e093;
        font-size: 53%;
        margin-top: 0.5rem;
        text-decoration: underline;
        cursor: pointer;        
    }
}
.validation-warning {
    p {
        width: 17rem;
    }
    .address-preview {
        background-color: $gold-bright;
        color: $poem-text-c;
        text-align: left;
        font-style: normal;
        text-transform: capitalize;
        display: inline-block;
        padding: 0 1rem;
        font-size: 75%;
        ul {
            list-style: none;
            padding: 0;
            margin: 0.3rem 0;        
        }
    }
    button {
        margin: 0.2rem 0;
        background-color: transparent;
        border: none;
        color: $gold-bright;
        box-shadow: 0 0 3px #e1e093;
        padding: .5rem 2rem;
        align-self: center;
        cursor: pointer;        
    }
}

.validation-error {
    ul {
        background-color: $gold-bright;
        color: $poem-text-c;
        padding: .25rem 1rem;
        text-align: left;
        font-size: 60%;
        display: inline-block;
    }
    li::marker {
        content: "- ";
    }
    button { margin-bottom: 1rem; }
}

.order-complete {
    position: initial;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $serif;
    font-style: italic;
    font-size: 130%;    
    &.masked {
        position: absolute;        
        opacity: 0;
        transition: opacity 500ms ease-in-out;
        visibility: hidden;
    }
}


// fuck with the paypal iframe:
.relics #paypal-button-container {
    margin: 10px;
    opacity: 1;
    filter: blur(0px);
    transition: opacity 500ms ease-in,
                filter 500ms ease-in;
    &.disabled {
        opacity: .5;
        filter: blur(5px);
        transition: opacity 500ms ease-in,
                    filter 500ms ease-in;
        @include pseudo-clone('before');
        &:before {
            z-index: 10000;
            cursor: not-allowed;
            &:hover {
                content: "Please fill all required fields.";
            }
        }
    }
}

// do our best to override autocomplete:
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: $gold-bright;
//   -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}
