.modal-content section.share-section {
    .placeholder {
        display: flex; align-items: center; justify-content: center;
        position: relative;
        width: 100%;
        img.blank {
            max-height: 92vh;
            @include xs { max-height: 77vh; }            
            max-width: 100%;
        }
        .loading-container {
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        img.loading-preview {
            align-self: center;
            width: calc(100% - 50px);            
        }
        .logo-ripple {
            height: 45px; width: 45px;
            display: flex; align-items: center; justify-content: center;
            img {
                position: relative;
                width: 30px;
            }
            @include ripple($blood, $blue-light);
            animation: Ripple 1s ease-in infinite;
        }
    }
    .image-container {
        text-align: center;
        position: relative;
        img {
            max-height: 92vh;
            @include xs { max-height: 77vh; }            
            max-width: 100%;
        }
        img.placements {
            position: absolute;
            left: 0; top: 0;
            opacity: 1;
            z-index: 0;
            transition: opacity 250ms ease-in;
            &.masked {
                z-index: -1;
                opacity: 0;
                transition: opacity 250ms ease-out,
                            z-index 250ms;
            }
        }
    }
    button {
        background-color: transparent;
        border: none;
        padding: 0;
        background-repeat: no-repeat;
        margin-top: 5px;
        &.long-press {
            width: 90vw;
            height: 9vw;
            background-image: url("png/long-press-to-save.png");
            background-size: 90vw;
            display: none;
            pointer-events: none;
            @include xs { display: block; }
            @include hz-lg { display: block; }
            @include hz { display: block; }
        }
        &.save-btn {
            background-image: url("png/save.png");
            background-size: 125px;
            width: 133px;
            height: 41px;
            a {
                display: inline-block;
                height: 100%;
                width: 100%;
            }
            display: block;
            @include xs { display: none; }      }
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 1;
        transition: opacity 500ms ease-in;
        margin: 0;
        &.masked { 
            .show-placements, .save-btn { cursor: not-allowed; }
            .show-placements button, .save-btn a { pointer-events: none; }
            opacity: .2;
        }
        margin-top: 5px;
        margin-bottom: 25px;
        width: 100%;
        text-align: center;
        .show-placements {
            display: flex;
            align-items: center;
            margin-top: 5px;
            .mobile-toggle {
                cursor: pointer;
                margin: 5px;
                height: 20px; width: 20px;
                border-radius: 50%;
                &.off {
                    transition: box-shadow 100ms ease-in;
                    background-color: $yellow-logo;
                    box-shadow: -1px -1px 3px 1px rgba(0,0,0,.4) inset;
                }
                transition: transform 100ms ease-in;
                &:active {
                    transition: transform 100ms ease-out;
                    transform: scale(.9);
                }
                &.on {
                    transition: box-shadow 100ms ease-out;
                    background-color: darken($yellow-logo, 5%);
                    box-shadow: 1px 1px 3px 1px rgba(0,0,0,.4) inset;
                    &:before {
                        content: "✓";
                        color: white;
                    }
                }
            }
            label { visibility: hidden; position: absolute; }
            img { height: 20px;}
            @include xs { align-self: end; }
            input[type="checkbox"] {
                display: none;
            }
        }
    }
    @include hz-lg {
        padding-top: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .image-container {
            width: auto;
            min-height: unset;
            img { max-height: 92vh; }
        }
        form {
            max-width: unset;
            width: auto;
            .long-press {
                width: 45vw;
                height: 4.5vw;
                background-size: 45vw;
            }
        }
        > :last-child {
            padding: 0;
        }        
    }
    .divider {
        background-image: url('png/divider.png');
        background-repeat: no-repeat;
        width: 100%;
        height: 50px;
        background-size: 100%;
    }
}
