.modal-content section.share-section {
    .placeholder, .image-container {
        min-height: 515px;
        @include xs { min-height: 69%; }
        width: 100%;
    }
    .placeholder {
        display: flex; align-items: center; justify-content: center;
        img {
            max-width: 80%;
        }
        .logo-ripple {
            height: 45px; width: 45px;
            display: flex; align-items: center; justify-content: center;
            position: relative;
            img {
                position: relative;
                width: 30px;
            }
            &:before {
                content: "";
                position: absolute;
                width: 100%; height: 100%;
                border-radius: 50%;
                background-position: center;
                background-repeat: no-repeat;
                @include ripple($blood, $blue-light);
                animation: Ripple 1s ease-in infinite;
            }
        }
    }
    .image-container {
        text-align: center;
        img {
            max-width: 100%;
            @include xs { max-height: 77vh; }
        }
    }
    button {
        background-color: transparent;
        border: none;
        padding: 0;
        background-repeat: no-repeat;
        margin-top: 5px;
        &.long-press {
            width: 90vw;
            height: 9vw;
            background-image: url("png/long-press-to-save.png");
            background-size: 90vw;
            display: none;
            @include xs { display: block; }
        }
        &.save-btn {
            background-image: url("png/save.png");
            background-size: 125px;
            width: 133px;
            height: 41px;
            a {
                display: inline-block;
                height: 100%;
                width: 100%;
            }
            display: block;
            @include xs { display: none; }
        }
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 1;
        transition: opacity 500ms ease-in;
        &.masked { 
            .show-placements, .save-btn { cursor: not-allowed; }
            .show-placements button, .save-btn a { pointer-events: none; }
            opacity: .2;
        }
        margin-top: 5px;
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
        .show-placements {
            display: flex;
            align-items: center;
            margin-top: 5px;
            .mobile-toggle {
                cursor: pointer;
                margin: 5px;
                height: 20px; width: 20px;
                &.off {
                    transition: box-shadow 100ms ease-in;
                    background-color: $yellow-logo;
                    box-shadow: -1px -1px 5px 2px rgba(0,0,0,.4) inset;
                }
                transition: transform 100ms ease-in;
                &:active {
                    transition: transform 100ms ease-out;
                    transform: scale(.9);
                }
                &.on {
                    transition: box-shadow 100ms ease-out;
                    background-color: darken($yellow-logo, 20%);
                    box-shadow: 1px 1px 5px 2px rgba(0,0,0,.4) inset;
                    &:before {
                        content: "✓";
                        color: white;
                    }
                }
            }
            @include xs { align-self: end; }
            input[type="checkbox"] {
                display: none;
            }
        }
    }
    .img-heading {
        text-align: center;
        padding-top: 20px;
        border-top: 4px dotted $yellow-logo;
        margin: 0 15%;

        img { height: 45px; }
    }
    ul.clergy {
        font-family: 'Noto Serif TC', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        list-style: none; padding: 0; margin: 0;
        a {
            text-decoration: none;
            color: white;
        }
        li {
            display: flow-root;
            h2 {
                font-family: 'raleway', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                text-transform: uppercase;
                font-size: 130%;
                margin-bottom: 7px;
                a { color: $gold-2; }
            }
            img {
                float: left;
                max-width: 50%;
                min-height: 20px;
                max-height: 100px;
                margin-right: 10px;
                border-radius: 5px;
                background-color: rgba(255,255,255,.5);
            }
            .content {
                margin-top: -10px;
                font-size: 80%;
            }
        }
    }
}
