.modal-content section.share-section {
    .placeholder, .image-container {
        min-height: 69%;
        width: 100%;
    }
    .placeholder {
        display: flex; align-items: center; justify-content: center;
    }
    .image-container {
        img {
            max-width: 100%; max-height: 60%;
            @include xs { max-height: 80%; }
        }
    }
    button {
        background-color: transparent;
        border: none;
        padding: 0;
        background-repeat: no-repeat;
        margin-top: 15px;
        &.long-press {
            width: 330px;
            height: 50px;
            background-image: url("png/long-press-to-save.png");
            background-size: 325px;
        }
        &.save-btn {
            background-image: url("png/save.png");
            background-size: 125px;
            width: 133px;
            height: 41px;
            a {
                display: inline-block;
                height: 100%;
                width: 100%;
            }
        }
    }
}
