#screenshot {
    font-size: initial; 
    .icon { transition: none; }
    section.poem-page {
        &.zoom {
            transition: none;
        }
    }
    .hamburger-container nav.aux { display: none; }
    .nav-link { display: none; }
    .social-links { display: none; }
    #poem.moon {
        font-size: 100%;
        $screenshotMoonSize: 46rem;
        height: $screenshotMoonSize; width: $screenshotMoonSize;
        background-size: $screenshotMoonSize $screenshotMoonSize;
        transform: scale(2.597); // Magic number
        &.print { transform: scale(5); }
        &:after {
            height: $screenshotMoonSize; width: $screenshotMoonSize;
        }
        &:before, &:after { animation: none; }
        form {
            // padding: 10px 20px;
            &.active legend {
                text-shadow: 0px .25px .25px rgba(10, 10, 10, 0.5);
                bottom: -7px; right: 10px;
                transition: none;
            }
        }
        .watermark-container {
            position: absolute;
            top: -4px;
            width: calc(100% - 30px);
            text-align: center;
            img {
                width: 110px;
                opacity: .25;
            }
        }
        &.print {
            background-image: none;
            .image-region { transform: scale(0.6) };
            .image-region > div { transform: scale(1.6) };
            &:before, &:after { content: none; }
            .icon {opacity: .45; }
        }
        .image-region > div {
            position: relative;
        }
        .logo-container {
            position: absolute;
            top: -22px;
            width: 100%;
            text-align: center;
            img {
                width: 36px;
                opacity: .65;
            }
        }
    }
    
    nav { display: none; }
}
