.image-region.lantern-layout {

    $lantern-size: 204.326%;
    .icon.primary {
        width: $lantern-size; height: $lantern-size * 4/5;
        left:-92.5%; top: -16.4%;
    }
    $lantern-secondary-size: 93.75%;
    .icon.secondary {
        width: $lantern-secondary-size; height: $lantern-secondary-size * 4/5;
        right: -16.826%; top: -8.653%;

        &.compact-mirror { right: -24.038%; top: 0%; }
        &.letter { right: -21.63%; }
        &.game-controller {
            transform: rotate(35deg);
            right: -21.63%;
        }
    }
    $lantern-tertiary-size: 96.15%;
    .icon.tertiary {
        width: $lantern-tertiary-size; height: $lantern-tertiary-size * 4/5;
        right: -28.846%; bottom: -28.846%;
        &.knife { transform: rotate(230deg); }
        &.pie { bottom: -33.65%; }
        &.lipstick {
            transform: rotate(330deg);
            right: -14.42%; bottom: -34.615%;
        }
        &.dynamite {
            transform: rotate(65deg);
            right: -15.625%;
        }
        $lantern-book-size: 120.19%;
        &.book {
            width: $lantern-book-size; height: $lantern-book-size * 4/5;
            right: -45.673%; bottom: -36.538%;
        }
    }

}
//sekrit
body > main > section > div:nth-child(3) .sacred-rites {
    @include xs { display: none; }
    @include ripple($blood, $blue-light);
    height: 100px;
    width: 100px;
    position: fixed;
    top: 0;
    left: 0;
    animation: Ripple 2s;
}
.rc {
    font-family: $serif;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    input {
        position: absolute;
        opacity: 0;
        width: 232px;
        cursor: not-allowed;
    }
}
