.image-region.magic-wand-layout {
    $magic-wand-size: 175.48%;
    .icon.primary {
        width: $magic-wand-size; height: $magic-wand-size * 4/5;
        left: -68.509%; top: -6.73%;
    }
    $magic-wand-secondary-size: 93.75%;
    .icon.secondary {
        width: $magic-wand-secondary-size; height: $magic-wand-secondary-size * 4/5;
        right: -14.42%; top: -3.846%;
        &.alarm-clock { right: -16.826%; }
        &.letter { right: -21.63%; }
        &.compact-mirror { right: -24.038%; }
        &.heart-lock { right: -24.038%; }
        $magic-wand-game-controller-size: 120.19%;
        &.game-controller {
            transform: rotate(-12deg);
            width: $magic-wand-game-controller-size; height: $magic-wand-game-controller-size * 4/5;
            right: -45.67%; top: -7.69%;
        }
    }
    $magic-wand-tertiary-size: 86.538%;
    .icon.tertiary {
        width: $magic-wand-tertiary-size; height: $magic-wand-tertiary-size * 4/5;
        right: -16.826%; bottom: -25%;
        &.pie { right: -14.42%; bottom: -32.69%; }
        &.lipstick {
            transform: rotate(320deg);
            right: -14.42%; bottom: -32.69%;
        }
        &.knife {
            transform: rotate(310deg);
            bottom: -30.769%;
        }
        &.dynamite {
            transform: rotate(70deg);
            right: -9.615%; bottom: -28.846%; 
        }
        $magic-wand-book-size: 120.19%;
        &.book {
            width: $magic-wand-book-size; height: $magic-wand-book-size * 4/5;
            right: -45.67%; bottom: -36.538%;
        }
    }

}
