.image-region.plant-layout {
    $plant-size: 209.13%;
    .icon.primary {
        left: unset;
        width: $plant-size; height: $plant-size * 4/5;
        right:-76.92%; top: -25%;
    }
    $plant-secondary-size: 86.538%;
    .icon.secondary {
        right: unset;
        width: $plant-secondary-size; height: $plant-secondary-size *4/5;
        left: -31.25%; top: 1.92%;

        $plant-game-controller-size: 79.326%;
        &.game-controller {
            width: $plant-game-controller-size; height: $plant-game-controller-size * 4/5;
            left: -19.23%; top: 7.69%;
        }
    }
    $plant-tertiary-size: 84.13%;
    .icon.tertiary {
        right: unset;
        width: $plant-tertiary-size; height: $plant-tertiary-size * 4/5;
        left: -24.038%; bottom: -21.15%;

        &.knife { transform: rotate(40deg); }

        $plant-lipstick-size: 93.75%;
        &.lipstick {
            width: $plant-lipstick-size; height: $plant-lipstick-size * 4/5;
            left: -36.057%; bottom: -23.076%;
            transform: rotate(90deg);
        }

        $plant-book-size: 108.17%;
        &.book {
            width: $plant-book-size; height: $plant-book-size * 4/5;
            left: -48.076%; bottom: -30.769%; 
        }

        $plant-pie-size: 76.92%;
        &.pie {
            width: $plant-pie-size; height: $plant-pie-size * 4/5;
            left: -19.23%; bottom: -23.076%;
        }
    }

}
