.image-region.rope-layout {
    $rope-size: 384.615%;
    .icon.primary {
        left: unset;
        width: $rope-size; height: $rope-size * 4/5;
        right: -200.72%; top: -109.615%;
    }
    $rope-secondary-size: 98.557%;
    .icon.secondary {
        width: $rope-secondary-size; height: $rope-secondary-size * 4/5;
        left: -28.846%; top: -9.615%;
        &.game-controller { left: -40.865%; }
        &.compact-mirror { left: -38.46%; top: -12.5%; }
        &.letter { left: -38.46%; top: -5.769%; }
        &.heart-lock {  left: -31.25%; top: -13.46%; }
    }
    $rope-tertiary-size: 96.15%;
    .icon.tertiary {
        width: $rope-tertiary-size; height: $rope-tertiary-size * 4/5;
        left: -33.65%; bottom: -28.846%;
        &.pie { bottom: -31.73%; }
        &.knife {
            transform: rotate(-35deg);
            left: -24.038%; bottom: -32.69%;
        }
        &.lipstick {
            transform: rotate(30deg);
            left: -24.038%; bottom: -32.69%;
        }
        &.dynamite {
            transform: rotate(120deg);
            left: -24.038%; bottom: -25.96%;
        }
        $rope-book-size: 144.23%;
        &.book {
            width: $rope-book-size; height: $rope-book-size * 4/5;
            left: -76.92%; bottom: -42.307%;
        }
    }

}
