.image-region.wishbone-layout {
    $wishbone-size: 141.826%;
    .icon.primary {
        width: $wishbone-size; height: $wishbone-size * 4/5;
        left:-64.90%; top: -26.92%;
    }
    $wishbone-secondary-size: 96.15%;
    .icon.secondary {
        width: $wishbone-secondary-size; height: $wishbone-secondary-size * 4/5;
        right: -24.038%; top: -17.307%;

        &.letter { right: -31.73%; }
        &.game-controller { right: -28.846%; }
    }
    $wishbone-tertiary-size: 84.13%;
    .icon.tertiary {
        width: $wishbone-tertiary-size; height: $wishbone-tertiary-size * 4/5;
        right: -19.23%; bottom: -28.846%;

        $wishbone-book-size: 120.19%;
        &.book {
            width: $wishbone-book-size; height: $wishbone-book-size * 4/5;
            right: -45.67%; bottom: -38.46%;
        }

        &.lipstick {
            bottom: -21.15%;
            transform: rotate(270deg);
        }

        $wishbone-ballgag-size: 96.15%;
        &.ball-gag { width: $wishbone-ballgag-size; height: $wishbone-ballgag-size * 4/5; }
    }

}
