.screenshot {
    section.poem-page {
        height: 100vh;
        // width: 100vw;
        display: flex; align-items: center; justify-content: center;
        margin-top: 0;
        &.zoom {
            transition: none;
        }
    }
    
    $moon-size: 130vh;
    #poem {
        &.moon {
            height: $moon-size; width: $moon-size;
            background-image: url('../../styles/png/moon-transparent.png');
            background-size: $moon-size $moon-size;
            font-size: 300%;
            &:before, &:after {
                height: $moon-size; width: $moon-size;
            }
        }
        form {
            padding: 48px 15px;
            
            legend { font-size: 60%; }
        }
    }
    .image-region {
        width: 90vw;
        height: 90vw * 5/4;
    }
    
    nav { display: none; }
}
